.carousel {
    position: relative;
    overflow: hidden;
    z-index: 1010;
}

.carousel-inner {
    display: flex;
}

.carousel-item>img {
    display: block;
    width: 100%;
}

.carousel-navigation .carousel-navigation--prev,
.carousel-navigation .carousel-navigation--next,
.carousel-indicator .carousel-indicator--point {
    padding: unset;
    border: unset;
    outline: unset;
    background: unset;
    color: unset;
    display: block;
    cursor: pointer;
}